[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
napari = "*"
big-fish = "*"
ipywidgets = "*"
shapely = "*"
roifile = "*"

[dev-packages]

[requires]
python_version = "3.13"
